
body{
    background-color: black;
}
.card{
background: url('./imagem css/background.png');no repeat;
width: 400px;
height: 200px;
background-size: cover;
padding: 1px 20px;
margin: auto;
margin-top: 250px;
box-sizing: border-box;
}
a{
text-decoration: none;
color: black;
}
.Instagram{
list-style-image: url('./imagem css/insta.png');
}
.Facebook{
list-style-image: url('./imagem css/facec.png');
}




